<h1>Login</h1>
<div class="alert alert-info">
Login with <a {{ action 'authenticate' 'facebook-oauth2'}} class="alert-link" style="cursor: pointer;"><i class="fa fa-facebook-square"></i> Facebook</a>
</div>
